<!doctype html>
<html lang="en" ng-app="todoApp" ng-csp>
  <head>
    <title>MiniChat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/webjars/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="/webjars/material-icons/css/material-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <div ng-controller="TodoListController as todoList" ng-cloak>
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Things to do:</h2>
        </div>
      </md-toolbar>
      <md-content flex layout-padding>
	      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
	      [ <a href="" ng-click="todoList.archive()">archive</a> ]
	      <ul class="unstyled">
	        <li ng-repeat="todo in todoList.todos">
	          <label class="checkbox">
	            <input type="checkbox" ng-model="todo.done">
	            <span class="done-{{todo.done}}">{{todo.text}}</span>
	          </label>
	        </li>
	      </ul>
	      <form ng-submit="todoList.addTodo()">
	        <input type="text" ng-model="todoList.todoText"  size="30"
	               placeholder="add new todo here">
	        <input class="btn-primary" type="submit" value="add">
	      </form>       
	  </md-content>
	  
  <div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Login</span></h2>
      </md-toolbar>
      <form name="loginForm">
        <md-content layout="column" class="md-padding">
          <md-input-container>
            <label>Username</label>
            <input required type="text" ng-model="loginModel.username" name="username" />
            <div ng-messages="loginForm.username.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input required type="password" ng-model="loginModel.password" name="password" />
            <div ng-messages="loginForm.password.$error" role="alert">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Login</md-button>
            <div flex="flex"></div>
            <md-button href="" md-no-ink>Forgot Password</md-button>
          </div>
          <md-divider></md-divider>
          <md-button href="#" md-no-ink>Sign Up</md-button>
        </md-content>
      </form>
    </div>	  
	  
	  
    </div>
    
    <script src="/webjars/angular/angular.min.js"></script>
    <script src="/webjars/angular-aria/angular-aria.min.js"></script>
    <script src="/webjars/angular-animate/angular-animate.min.js"></script>
    <script src="/webjars/angular-messages/angular-messages.min.js"></script>
    <script src="/webjars/angular-material/angular-material.min.js"></script>
    <script src="/app.js"></script>
    
  </body>
</html>